body {
    font-family: sans-serif;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#App {
    min-height: 100vh;
    text-align: center;
    background-color: rgba(19, 19, 19, 0.856);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: sans-serif;
}

#header{
  max-height: 30vh;
  min-height: 30vh;
  background-image: url('./header.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position:center center;
  background-color: #69c181;
  border-bottom: solid 1px rgb(145, 145, 145);
}

#cards {
  display: flex;

  width: 500px;
  margin: auto;
  margin-top: 3vh;
  flex-wrap: wrap;
}

#scores{
  font-size: 26px;
  color: #084d68;
  display: flex;
  flex-direction: column;
}

#scores span {
  margin: 10px;
}

#wrapper{
  min-width: 40vw;
  background-color: #6489c1;
  padding: 10px;
  margin: auto;
  
}

button {
  background-color: rgb(44, 44, 44);
  color: rgb(170, 170, 170);
  border-radius: 5px;
  height: 30px;
  width: 100px;
  border: none;
  font-size: 19px;
  margin-top: 20px;
}

button:hover{
  color: white;
  cursor: pointer;
}

#footer{
  background-color: rgb(34, 34, 34);
  height: 5vh;
  color: rgb(143, 143, 143);
  line-height: 5vh;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  border-top: solid 1px black;
}