#App {
  height: 100vh;
  width: 100vw;
  text-align: center;
    background-color: rgba(230, 146, 51, 0.856);
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    top: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#header{
  height: 30vh;
  background-image: url('./header.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position:center center;
  background-color: #69c181;
  
}


#friends {
  display: flex;
  max-width: 500px;
  margin: auto;
  margin-top: 7vh;
  flex-wrap: wrap;
}

#scores{
  margin-top: 2vh;
  font-size: 26px;
  color: #084d68;
}

#wrapper{
  flex: 1;
}